<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>深度课堂</title>
    <meta name="description" content="这里是说明">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/img/icon.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/css/app.css">
    <style type="text/css">
        .am-progress{
            position: absolute;
            left: 20px;
            right: 20px;
            top: 6px;
            height: .6rem !important;
            display: none;
        }
        .dooncloud-body .widget-head{
            padding-left: 0;
            padding-bottom: 0;
        }
    </style>
</head>

<body class="theme-white">
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href=""><img src="/static/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list-ul"></div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎 -->
                        <li class="am-text-sm">
                            <a href="#">{{class_info["class_name"]}}</a>
                        </li>
                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="/">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        
        <!-- 侧边导航栏 -->
        <div class="left-sidebar active">
            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">
                    <a href="" class="active">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 返回上一层
                    </a>
                </li>
                <!-- <li class="sidebar-nav-link">
                    <a href="#" >
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 最新动态
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="tables.html">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 我的数据
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 科目报告
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>语文</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>数学</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>英语</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>物理</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>化学</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>生物</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>政治</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>历史</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>地理</a></li>
                    </ul>
                </li> -->
                <li class="sidebar-nav-heading"></li>
                <!-- <li class="sidebar-nav-link">
                    <a href="#">
                        <i class="am-icon-tv sidebar-nav-link-logo"></i> 设置
                    </a>
                </li> -->

            </ul>
        </div>


   <div class="tpl-content-wrapper">
            <!--top start-->

            <!-- top end-->
            <!--报告内容-->
                <div class="am-cf" style="margin-top:">
                    <div class="am-u-sm-12 am-u-md-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">上午10：00到10：15 报告 <span class="am-icon-file-text"></span>  </div>
                            </div>
                            <div class="widget-body am-fr dooncloud-body" style="padding-bottom: 10px">
                                    <div class="am-u-sm-6 am-u-md-2">
                                        <img id="class_pic" src="/static/img/bf.jpg" style="border-radius: 3px" class="am-center am-img-responsive">
                                        <div class="am-progress am-progress-striped" >
                                          <div class="am-progress-bar am-progress-bar-success"></div>
                                        </div>
                                    </div>
                                    <div class="am-u-sm-6 am-u-md-6">
                                       班级： {{class_info["class_name"]}}<br>
                                       学校： {{class_info["school_name"]}}<br>
                                    </div>
                                    <!-- <div class="am-u-sm-12 am-u-md-12">
                                        <div class="widget am-cf">
                                            <div class="widget-head am-cf">
                                                <div class="widget-title am-fl">得分分布图</div>
                                            </div>
                                            <div style="height: 400px" class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="tpl-echartsB">
                
                                            </div>
                                        </div>
                                    </div> -->
                                                                                  
                            </div>
                        </div>

                    </div>
                    <div class="am-u-sm-12 am-u-md-12">
                
                        <div class="widget am-cf widget-body-lg">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">学生列表(总数23)</div>
                            </div>
                            <div class="widget-body  am-fr">
                               <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
                                  am-avg-md-3 am-avg-lg-12 am-gallery-bordered" data-am-gallery="{  }" id="student_pics">
                                  {% for s in students %}
                                    {% if s['student_id'].split('_')[1] not in s_array %}
                                      <li>
                                        <div class="am-gallery-item">
                                            <a href="/bfs?ClassID={{class_info['class_id']}}&StudentID={{s['student_id']}}" class="">
                                              <img src="data:image/jpg;base64, {{s["student_image"]}}"  alt="{{s["student_name"]}}"/>
                                              <h3 class="am-gallery-title">{{s["student_name"]}}</h3>
                                            </a>
                                        </div>
                                      </li>
                                      {% end if %}
                                    {% end for %}
                                  </ul>
                            </div>
                        </div>
                    </div>
                </div>
            
            <!--报告内容-->
            <div id="tpl-echarts">

            </div>


        </div>
  
    </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/amazeui.min.js"></script>
    <script src="/static/js/amazeui.datatables.min.js"></script>
    <script src="/static/js/dataTables.responsive.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script>
        $(document).ready(function(){
        
                // ==========================
                // 百度图表A http://echarts.baidu.com/
                // ==========================
                var img_width = $("#student_pics").find("img").eq(0).css("width").split("p")[0];
                $("#student_pics").find("img").css({"height": String(parseFloat(img_width) * 1.2) + "px"});
                $(window).resize(function() {
                  var img_width = $("#student_pics").find("img").eq(0).css("width").split("p")[0];
                  $("#student_pics").find("img").css({"height": String(parseFloat(img_width) * 1.2) + "px"});
                });

               

                
            })
    </script>

</body>

</html>