<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>深度课堂</title>
    <meta name="description" content="这里是说明">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/img/icon.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/css/app.css">
    <style>
        .am-gallery-item{
            position: relative;
        }
        .am-progress{
            position: absolute;
            top: 8px;
            left: 8px;
            right: 8px;
            height: .6rem !important;
            display: none;
        }
    </style>
</head>

<body class="theme-white">
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="#"><img src="/static/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list-ul"></div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎 -->
                        <li class="am-text-sm">
                            <a href="#">{{school["school_name"]}}</a>
                        </li>
                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="/">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        
        <!-- 侧边导航栏 -->
        <div class="left-sidebar active">
            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">
                    <a href="/si?SchoolID=cfyz" class="active">
                        <i class="am-icon-home sidebar-nav-link-logo"></i>返回上一层
                    </a>
                </li>
                <!-- <li class="sidebar-nav-link">
                    <a href="#">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 最新动态
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="tables.html">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 我的数据
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 科目报告
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>语文</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>数学</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>英语</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>物理</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>化学</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>生物</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>政治</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>历史</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>地理</a></li>
                    </ul>
                </li> -->
                <li class="sidebar-nav-heading"></li>
               <!--  <li class="sidebar-nav-link">
                    <a href="#">
                        <i class="am-icon-tv sidebar-nav-link-logo"></i> 设置
                    </a>
                </li> -->

            </ul>
        </div>


   <div class="tpl-content-wrapper">
            <!--top start-->

            <!-- top end-->
            <!--报告内容-->
                <div class="am-cf" style="margin-top:">
                    
                    {% for i in range(3) %}
                    <div class="am-u-sm-12 am-u-md-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl"> 统计图表: 高{{str(i+1)}} <span class="am-icon-file-text"></span>  </div>
                            </div>
                            <div style="height:500px" class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="classes_points_echarts_{{i}}">
                
                            </div>
                        </div>

                    </div>
                    {% end for %}
                </div>
            
            <!--报告内容-->
            <div id="tpl-echarts">

            </div>


        </div>
  
    </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/amazeui.min.js"></script>
    <script src="/static/js/amazeui.datatables.min.js"></script>
    <script src="/static/js/dataTables.responsive.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".am-gallery-item img").mousemove(function(e){
                var mouse_x = e.pageX - $(this).offset().left;
                var img_width = $(this).width();
                var percents = mouse_x/img_width;
                var pic_num = Math.floor(percents * 99);
                // console.log($(this).parent().parent().find(".am-progress-bar").eq(0))
                $(this).parent().find(".am-progress-bar").eq(0).css("width", Math.floor(percents * 100) + "%");    
                $(this).attr("src", "static/pics/" + $(this).parent().attr("id") + "/" + pic_num + ".jpg");
            });
            $(".am-gallery-item img").mouseover(function(){
              $(this).parent().find(".am-progress").eq(0).show();
            });
            $(".am-gallery-item img").mouseout(function(){
              $(this).parent().find(".am-progress").eq(0).hide();
            });

            var posList = [
                'left', 'right', 'top', 'bottom',
                'inside',
                'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
                'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
            ];

            configParameters = {
                rotate: {
                    min: -90,
                    max: 90
                },
                align: {
                    options: {
                        left: 'left',
                        center: 'center',
                        right: 'right'
                    }
                },
                verticalAlign: {
                    options: {
                        top: 'top',
                        middle: 'middle',
                        bottom: 'bottom'
                    }
                },
                position: {
                    options: echarts.util.reduce(posList, function (map, pos) {
                        map[pos] = pos;
                        return map;
                    }, {})
                },
                distance: {
                    min: 0,
                    max: 100
                }
            };

            config = {
                rotate: 90,
                align: 'left',
                verticalAlign: 'middle',
                position: 'insideBottom',
                distance: 15,
                onChange: function () {
                    var labelOption = {
                        normal: {
                            rotate: config.rotate,
                            align: config.align,
                            verticalAlign: config.verticalAlign,
                            position: config.position,
                            distance: config.distance
                        }
                    };
                    myChart.setOption({
                        series: [{
                            label: labelOption
                        }, {
                            label: labelOption
                        }, {
                            label: labelOption
                        }, {
                            label: labelOption
                        }]
                    });
                }
            };

            var labelOption = {
                normal: {
                    show: true,
                    position: config.position,
                    distance: config.distance,
                    align: config.align,
                    verticalAlign: config.verticalAlign,
                    rotate: config.rotate,
                    formatter: '{name|{a}}  {c}',
                    fontSize: 16,
                    rich: {
                        name: {
                            textBorderColor: '#fff'
                        }
                    }
                }
            };
            {% for i in range(3) %}
            var echarts{{i}} = echarts.init(document.getElementById('classes_points_echarts_{{i}}'));
            option{{i}} = {
                color: ['#003366', '#006699', '#4cabce', '#e5323e'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {
                    data: ['1班', '2班', '3班', '4班']
                },
                toolbox: {
                    show: false,
                    orient: 'vertical',
                    left: 'right',
                    top: 'center',
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        axisTick: {show: false},
                        data: ["语文", "数学", "英语", "物理", "化学", "生物", "政治", "历史", "地理"]
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {% for index,p in enumerate(points[i]) %}
                    {
                        name: '{{index+1}}班',
                        type: 'bar',
                        barGap: 0,
                        label: labelOption,
                        data: {{p}}
                    },
                    {% end for %}
                ]
            }

            echarts{{i}}.setOption(option{{i}});
            {% end for %}
        })
    </script>

</body>

</html>