<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>深度课堂</title>
    <meta name="description" content="这里是说明">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/img/icon.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/css/app.css">
    <style type="text/css">
        .dooncloud-body .widget-head{
            padding-left: 0;
            padding-bottom: 0;
        }
    </style>
</head>

<body class="theme-white">
    <div class="am-g tpl-g">
        <!-- 头部 -->
        {% include "header.html" %}
        
        <!-- 侧边导航栏 -->
        <div class="left-sidebar active">
            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">
                    <a href="/sw?StudentID={{student["student_id"]}}&WeekID=1" class="active">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 返回上一层
                    </a>
                </li>
<!--                 <li class="sidebar-nav-link">
                    <a href="#">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 最新动态
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="tables.html">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 我的数据
                    </a>
                </li> -->
                <!-- <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 科目报告
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>语文</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>数学</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>英语</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>物理</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>化学</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>生物</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>政治</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>历史</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>地理</a></li>
                    </ul>
                </li> -->
                <li class="sidebar-nav-heading"></li>
<!--                 <li class="sidebar-nav-link">
                    <a href="#">
                        <i class="am-icon-tv sidebar-nav-link-logo"></i> 设置
                    </a>
                </li> -->

            </ul>
        </div>


   <div class="tpl-content-wrapper active" style="background-color: #fff">
            <!--top start-->

            <!-- top end-->
            <!--报告内容-->
                <div class="am-cf" style="margin-top:">
                    <div class="am-u-sm-12 am-u-md-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl"> 第一周报告 <span class="am-icon-file-text"></span>  </div>
                            </div>
                            <div class="widget-body am-fr dooncloud-body">
                                    <div class="am-u-sm-6 am-u-md-2">
                                        <img src="data:image/jpg;base64, {{student["student_image"]}}" style="width:118px;height:136px;border-radius:5px" class="am-center am-img-responsive">
                                    </div>
                                    <div class="am-u-sm-6 am-u-md-6">
                                       姓名： {{student["student_name"]}}<br>
                                       班级： {{class_info["class_name"]}}<br>
                                    </div>
                                    

                                    <div class="am-u-sm-12 am-u-md-12">
                                        <div class="widget am-cf">
                                            <div class="widget-head am-cf">
                                                <div class="widget-title am-fl">得分分布图</div>
                                            </div>
                                            <div style="height: 400px" class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="tpl-echartsB">
                
                                            </div>
                                        </div>
                                    </div>

                                                                                   
                            </div>
                        </div>

                    </div>
         
                </div>
            
            <!--报告内容-->
            <div id="tpl-echarts">

            </div>


        </div>
  
    </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/amazeui.min.js"></script>
    <script src="/static/js/amazeui.datatables.min.js"></script>
    <script src="/static/js/dataTables.responsive.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script>
        $(document).ready(function(){
        
                // ==========================
                // 百度图表A http://echarts.baidu.com/
                // ==========================
        
               

                var echartsB = echarts.init(document.getElementById('tpl-echartsB'));
                optionB = {
                    color: ['#3398DB'],
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : ["语文", "数学", "英语", "物理", "化学", "生物", "政治", "历史", "地理"],
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'平均分',
                            type:'bar',
                            barWidth: '60%',
                            data:{{points}}
                        }
                    ]
                };
                echartsB.setOption(optionB);
                
            })
    </script>

</body>

</html>