<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>深度课堂</title>
    <meta name="description" content="这里是说明">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/img/icon.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body class="theme-white">
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="/static/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list-ul"></div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎 -->
                        <li class="am-text-sm">
                            <a href="#">Hi，李嘉华同学 </a>
                        </li>
                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="/">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        
        <!-- 侧边导航栏 -->
        <div class="left-sidebar active">
            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">
                    <a href="index.html" class="active">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 最新动态
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="tables.html">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 我的数据
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 科目报告
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>语文</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>数学</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>英语</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>物理</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>化学</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>生物</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>政治</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>历史</a></li>
                        <li class="sidebar-nav-link"><a href="table-list-img.html"> <span class="am-icon-angle-right sidebar-nav-link-logo"></span>地理</a></li>
                    </ul>
                </li>
                <li class="sidebar-nav-heading"></li>
                <li class="sidebar-nav-link">
                    <a href="#">
                        <i class="am-icon-tv sidebar-nav-link-logo"></i> 设置
                    </a>
                </li>

            </ul>
        </div>


   <div class="tpl-content-wrapper">
            <!--top start-->

            <!-- top end-->
            <!--报告内容-->
                <div class="am-cf" style="margin-top:">
                    <div class="am-u-sm-12 am-u-md-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl"> 第 15 期报告 <span class="am-icon-file-text"></span>  </div>
                            </div>
                            <div class="widget-body am-fr">
                                    <div class="am-u-sm-6 am-u-md-2">
                                        <img src="/static/img/student.png" class="am-center am-img-responsive">
                                    </div>
                                    <div class="am-u-sm-6 am-u-md-6">
                                       姓名： 学生{{str(performance["StudentID"])}}<br>
                                       班级： 高一1班<br>
                                       本期简评： 综合得分有所提高
                                    </div>
                                    <div class="am-u-sm-12 am-u-md-4">
                                        <img src="/static/img/leida.jpeg" class="am-center am-img-responsive">
                                    </div>
<!--                                     <div class="am-u-sm-12 am-u-md-12">
                                        <div class="widget am-cf">
                                            <div class="widget-head am-cf">
                                                <div class="widget-title am-fl">综合得分趋势</div>
                                            </div>
                                            <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="tpl-echarts">
                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="am-u-sm-12 am-u-md-12">
                
                                        <div class="widget am-cf widget-body-lg">
                                            <div class="widget-head am-cf">
                                                <div class="widget-title am-fl">课程表</div>
                                            </div>
                                            <div class="widget-body  am-fr">
                                                    <table width="100%" class="am-table am-table-compact am-text-nowrap" id="example-r">
                                                        <thead>
                                                            <tr>
                                                                <th>周一</th>
                                                                <th>周二</th>
                                                                <th>周三</th>
                                                                <th>周四</th>
                                                                <th>周五</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="gradeX">
                                                                <td>语文 87</td>
                                                                <td>数学 85</td>
                                                                <td>语文 83</td>
                                                                <td>数学 90</td>
                                                                <td>数学 32</td>
                                                            </tr>
                                                            <tr class="gradeX">
                                                                <td>语文 87</td>
                                                                <td>数学 85</td>
                                                                <td>语文 83</td>
                                                                <td>数学 90</td>
                                                                <td>数学 32</td>
                                                            </tr>
                                                                <td>语文 87</td>
                                                                <td class="am-btn am-btn-warning">数学 75</td>
                                                                <td>语文 83</td>
                                                                <td>数学 90</td>
                                                                <td>数学 32</td>
                                                            </tr>
                                                            <tr class="gradeX">
                                                                <td>语文 87</td>
                                                                <td>数学 85</td>
                                                                <td>语文 83</td>
                                                                <td>数学 90</td>
                                                                <td>数学 32</td>
                                                            </tr>
                                                            <tr class="gradeX">
                                                                <td>语文 87</td>
                                                                <td class="am-btn am-btn-danger">数学 55</td>
                                                                <td>语文 83</td>
                                                                <td>数学 90</td>
                                                                <td>数学 32</td>
                                                            </tr>
                                                            <tr class="gradeX">
                                                                <td class="am-btn am-btn-danger">语文 47</td>
                                                                <td>数学 85</td>
                                                                <td>语文 83</td>
                                                                <td>数学 90</td>
                                                                <td>数学 32</td>
                                                            </tr>
                                                            <tr class="gradeX">
                                                                <td>语文 87</td>
                                                                <td>数学 85</td>
                                                                <td>语文 83</td>
                                                                <td>数学 90</td>
                                                                <td>数学 32</td>
                                                            </tr>
                                                            <tr class="gradeX">
                                                                <td>语文 87</td>
                                                                <td>数学 85</td>
                                                                <td>语文 83</td>
                                                                <td>数学 90</td>
                                                                <td>数学 32</td>
                                                            </tr>
                                                        
                
                                                            <!-- more data -->
                                                        </tbody>
                                                    </table>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="am-u-sm-12 am-u-md-12">
                                        <div class="widget am-cf" style="padding-bottom:20px">
                                            <div class="widget-head am-cf">
                                                <div class="widget-title am-fl">周一第三堂课课堂表现</div>
                                            </div>
                                            <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="statebypercent-echarts">
                
                                            </div>
                                        </div>
                                    </div>
<!--                                     <div class="am-u-sm-12 am-u-md-12">
                
                                        <div class="widget am-cf widget-body-lg">
                                            <div class="widget-head am-cf">
                                                <div class="widget-title am-fl">时间轴</div>
                                            </div>
                                            <div class="widget-body  am-fr">
                                                    <table width="100%" class="am-table am-table-compact am-text-nowrap" id="example-r">
                                                        <thead>
                                                            <tr>
                                                                {% for i in performance["timeline"] %}
                                                                <th>第{{str(i["time"])}}分钟</th>
                                                                {% end for %}
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="gradeX">
                                                                {% for i in performance["timeline"] %}
                                                                <th>状态{{str(np.where(i["state"]==np.max(i["state"]))[0][0] + 1)}}</th>
                                                                {% end for %}
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                        </div>
                                    </div> -->

 
                                     <div class="am-u-sm-12 am-u-md-12">
                
                                        <div class="widget am-cf widget-body-lg">
                                            <div class="widget-head am-cf">
                                                <div class="widget-title am-fl">随堂影像</div>
                                            </div>
                                            <div class="widget-body  am-fr">
                                                <ul class="am-avg-sm-4 am-thumbnails">
                                                {% for i in performance["timeline"] %}
                                                  <li>
                                                    <span>第{{str(i["time"])}}分钟: 状态{{str(np.where(i["state"]==np.max(i["state"]))[0][0] + 1)}}</span>
                                                    <img class="am-thumbnail" src="data:image/jpg;base64, {{i["pic"]}}" />
                                                  </li>
                                                {% end for %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                
                    

                                                 
                            </div>
                        </div>

                    </div>
         
                </div>
            
            <!--报告内容-->
            <div id="tpl-echarts">

            </div>


        </div>
  
    </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/amazeui.min.js"></script>
    <script src="/static/js/amazeui.datatables.min.js"></script>
    <script src="/static/js/dataTables.responsive.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script>
        $(document).ready(function(){
        
                // ==========================
                // 百度图表A http://echarts.baidu.com/
                // ==========================
        
                var echartsA = echarts.init(document.getElementById('tpl-echarts'));
                optionA = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    grid: {
                        top: '3%',
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [{
                        type: 'category',
                        boundaryGap: false,
                        data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                    }],
                    yAxis: [{
                        type: 'value'
                    }],
                    textStyle: {
                        color: '#838FA1'
                    },
                    series: [{
                        name: '综合得分',
                        type: 'line',
                        stack: '总量',
                        areaStyle: { normal: {} },
                        data: [90, 80, 70, 80, 90, 80, 70],
                        itemStyle: {
                            normal: {
                                color: '#1cabdb',
                                borderColor: '#1cabdb',
                                borderWidth: '2',
                                borderType: 'solid',
                                opacity: '1'
                            },
                            emphasis: {
        
                            }
                        }
                    }]
                };
        
                echartsA.setOption(optionA);

                var echartsB = echarts.init(document.getElementById('statebypercent-echarts'));
                optionB = {
                    title : {
                        text: '课堂表现',
                        subtext: '百分比',
                        x:'center'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        bottom: 0,
                        padding: [5,5,0,5],
                        data: ['状态1','状态2','状态3','状态4','状态5','状态6','状态7','状态8']
                    },
                    series : [
                        {
                            name: '课堂表现',
                            type: 'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data:[
                            {% for i,p in enumerate(performance["state_array"]) %}
                                {value:{{p}}, name:'状态{{str(i+1)}}'},
                            {% end for %}
                            ],
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
        
                echartsB.setOption(optionB);
            })
    </script>

</body>

</html>