.fluid{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.backgap{
    height: 44px;
    background-color: aquamarine;
    overflow: hidden;
    border-radius:5px;
}
.searchbox{
    border-radius:5px;
    background-color: beige;
}
.inlinenav{
    margin: 0px  100px ;
    border-radius:15px;
    background-color: #fff;

}

.redbox{
    visibility:visible;
    border:4px solid red;

}

.school-index-content a:hover {
    text-decoration:underline;
}


